<p>This app helps you to determine who among your Twitter friends are actually worth following, based on a number of different metrics.</p>
<a href="/twitter/connect/" id="connect"><img src="/images/login.png" alt="Login" /></a>