<li>
  <a class="unfollow" href="#" data-sn="<%= friend.sn %>" data-index="<%= index %>">unfollow</a>
  <img src="<%= friend.i %>" alt="<%= friend.sn %>">
  
  <div class="name">
    <h4><%= friend.n %></h4>
    <p>@<a href="http://www.twitter.com/<%= friend.sn %>"><%= friend.sn %></a><p>
  </div>

  <ul>
    <li>
      <h3 class="tpd<% if(mode === 'tpd') { %> active<% } %>"><%= friend.tpd %></h3>
      <p>average tweets<br />per day</p>
    </li>
    <li>
      <h3 class="dl<% if(mode === 'dl') { %> active<% } %>">
        <% if(friend.t === 0) { %>
          never
        <% } else if(friend.dl == 0) { %>
          today
        <% } else { %>
          <%= friend.dl %> day<% if(friend.dl != 1) { %>s<% } %>
        <% } %>
      </h3>
      
      <p>
        <% if(friend.t === 0){ %>
          this friend has never tweeted
        <% } else { %>
          <% if(friend.dl > 0) { %>since<% } %>
          last tweet<br />on <%= app.formatDate(friend.l) %>
        <% } %>
      </p>
    </li>
    <li>
      <h3 class="t<% if(mode === 't') { %> active<% } %>">
        <%= friend.t %>
      </h3>
      <p title="<%= friend.n %> joined Twitter on <%= app.formatDate(friend.c) %>">
        tweets in<br /><%= friend.d %> days
      </p>
    </li>
  </ul>
</li>
